body {
    background-color: #121212;
    font: 1em sans-serif;
    color: white;
    margin-left: 5%;
}
 


#horizontal-line {
    height:1px;
    background-color: white;
    margin-right: 5%;
}

#option-div{
    background-color: #36454F;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
    height: 375px;
    float: left;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
        background-color: #596A75;
    }
}

#school-div{
    background-color: #36454F;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 200px;
    height: 325px;
    cursor: pointer;
    float: none;
}

#text-div{
    background-color: #36454F;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#div-contents {
    margin-left: 5%;
    margin-right: 5%;
}

#option-img {
    width: 200px;
    height: 135px;
    border-radius: 10px 10px 0px 0px;
}
